# hw 9
### due April 13, 12:30 pm

### data
We will work with food inspections data (restaurants mainly) from the City of Albequerque, in particular inspections for violations of requirements a facility is 'following current COVID Safe Practices for employee mask use'.'

Data from: http://www.cabq.gov/abq-data
Some (limited) info on the data: http://data.cabq.gov/business/foodinspections/MetaData.pdf

I have taken only the subset of the data dealing with violation code 04c210, the violation described above.

The data cover inspections in the time period from Oct. 31, 2020 to March 24, 2021.

#### important variables
You have many variables you won't use here. That is typical. Feel free to explore more of the data. You can even find out exactly which businesses were forced to close for such violations.

These variable descriptions are based on my exploration of the data, reading the docs, and brief internet searches elsewhere. They are not meant to be super precise. In a real scenario, you'd spend more time to understand exactly what you have.

- `result_desc` gives the result of the inspection
- `action_desc` gives the action taken by the city based on the results of the inspection
- `not_masked` is a variable I created to mark which businesses passed inspection for checks of the employee mask use violation. It is `True` if `action_desc = approved` and `False` otherwise.

#### `abq_bigsamp`

- 100 random samples from the original dataset
- each of size 50

#### `abq_smallsamp`

- 100 random samples from the original dataset
- each of size 5

# Q1

- **get** the `abq_bigsamp.csv` and `abq_smallsamp.csv` files
- **Excel users:**  must put these in different sheets of a single workbook. **Do not submit separate files**. You've been warned!
- **List** the possible values for the `result_desc`, `action_desc` and the `not_masked` variables (same for both datasets)

In [1]:
import pandas as pd

In [2]:
dl = pd.read_csv('../data/abq_bigsamp.csv')
ds = pd.read_csv('../data/abq_smallsamp.csv')

In [3]:
ds.describe()

,facility_key,owner_key,phone,program_category,inspection_type,action_code,result_code,inspection_memo,sampid,sampsize
count,500.000000,500.000000,4.590000e+02,500.000000,0.0,500.000000,500.000000,0.0,500.000000,500.0
mean,91804.264000,76452.404000,5.164446e+09,468.542000,NaN,17.438000,2.974000,NaN,49.500000,5.0
std,43936.419677,42470.724407,7.177816e+08,126.622188,NaN,10.765963,0.159295,NaN,28.894979,0.0
min,288.000000,11.000000,2.095058e+09,402.000000,NaN,6.000000,2.000000,NaN,0.000000,5.0
25%,63936.000000,36280.000000,5.052689e+09,406.000000,NaN,11.000000,3.000000,NaN,24.750000,5.0
50%,116880.000000,101136.000000,5.054638e+09,406.000000,NaN,11.000000,3.000000,NaN,49.500000,5.0
75%,126797.250000,112515.500000,5.058433e+09,501.000000,NaN,35.000000,3.000000,NaN,74.250000,5.0
max,128471.000000,113638.000000,9.725376e+09,1002.000000,NaN,35.000000,3.000000,NaN,99.000000,5.0

In [4]:
dl.describe()

,facility_key,owner_key,phone,program_category,inspection_type,action_code,result_code,inspection_memo,sampid,sampsize
count,5000.000000,5000.000000,4.576000e+03,5000.00000,0.0,5000.000000,5000.000000,0.0,5000.000000,5000.0
mean,92382.853800,77324.628600,5.157145e+09,463.52620,NaN,16.993600,3.005000,NaN,49.500000,50.0
std,42456.788762,41174.408867,8.130183e+08,117.05523,NaN,10.478603,0.501024,NaN,28.868957,0.0
min,288.000000,10.000000,2.063189e+09,402.00000,NaN,6.000000,2.000000,NaN,0.000000,50.0
25%,66114.000000,44953.000000,5.052689e+09,406.00000,NaN,11.000000,3.000000,NaN,24.750000,50.0
50%,114218.000000,97164.000000,5.054890e+09,406.00000,NaN,11.000000,3.000000,NaN,49.500000,50.0
75%,126869.000000,112559.000000,5.058561e+09,411.00000,NaN,35.000000,3.000000,NaN,74.250000,50.0
max,128471.000000,113638.000000,9.725376e+09,1002.00000,NaN,35.000000,14.000000,NaN,99.000000,50.0

In [5]:
pd.to_datetime(dl.inspection_date).max()

Timestamp('2021-03-24 00:00:00')

# Q2

- **create** a pivot table (excel) or grouped data frame summary (python) showing the **number of observations** by pairs of `action_desc` and `result_desc` values
- **create** ... by pairs of `action_desc` and `not_masked` values

Remember, groups defined by pairs of variables means, for example that all observations with `action_desc = approved` and `result_desc = in compliance` are in one group. All observations with `action_desc = approved` and `result_desc = not in compliance` are in a *different* group, etc.

In [6]:
ds.groupby(['action_desc', 'result_desc']).size()

action_desc            result_desc
approved               in compliance        355
csp corrected on site  in compliance        132
                       not in compliance      4
unsatisfactory         not in compliance      9
dtype: int64

In [7]:
ds.groupby(['action_desc', 'not_masked']).size()

action_desc            not_masked
approved               False         355
csp corrected on site  True          136
unsatisfactory         True            9
dtype: int64

# Q3
Remember `sampid` identifies the random sample of rows taken from the original dataset. All rows in the big dataset with the same `sampid` are in the same sample. Same for the small dataset.

- **create a variable called `phat`** giving the proportion of rows where `not_masked` is true **only using data for the group `sampid = 0` in the bigsamp dataset**
- **create a variable called `sehat_small`** giving a *point estimate* for the standard deviation *of the sample mean* **for a sample of the same size as those in the smallsamp** dataset (see the `sampsize` variable)
- **create a variable called `sehat_big`** ... **for a sample of the same size as those in the bigsamp** dataset

# Q4
- **create a variable called `mhat_big`** calculating the proportion of rows **within each `sampid` group** where `not_masked` is true **for the bigsamp** dataset
- **create a variable called `mhat_small`** ... **for the smallsamp** dataset

Hint: Use a pivot table / groupby

In [8]:
# choice one
mhat_small = ds.groupby('sampid').not_masked.value_counts(normalize = 'True').rename('prop').reset_index()
# could use query in prev line instead of doing this, but not covered in class
mhat_small = mhat_small.loc[mhat_small.not_masked]
mhat_small

     sampid  not_masked  prop
1         0        True   0.2
3         1        True   0.2
5         2        True   0.4
7         3        True   0.2
8         4        True   0.6
..      ...         ...   ...
176      95        True   0.2
178      96        True   0.4
180      97        True   0.2
182      98        True   0.2
183      99        True   0.6

[85 rows x 3 columns]

In [9]:
mhat_small = mhat_small.prop

In [10]:
# choice two
mhat_big = dl.groupby('sampid').not_masked.value_counts(normalize = 'True').rename('prop').reset_index()
mhat_big = mhat_big.loc[mhat_big.not_masked]
mhat_big

     sampid  not_masked  prop
1         0        True  0.32
3         1        True  0.16
5         2        True  0.22
7         3        True  0.22
9         4        True  0.14
..      ...         ...   ...
191      95        True  0.32
193      96        True  0.34
195      97        True  0.36
197      98        True  0.26
199      99        True  0.28

[100 rows x 3 columns]

In [11]:
mhat_big = mhat_big.prop

# Q5

- **For each observation in `mhat_small` calculate** a 95 percent confidence interval for `phat` centered at the `mhat_small` value and using `sehat_small`. **Create different variables for the low and high endpoints of the interval, called `ci_small_low` and `ci_small_high`.**
- **For each observation in `mhat_big` calculate** ... centered at the `mhat_big` and using with `sehat_big` ... **`ci_big_low` and `ci_big_high`.**

# Q6

- **write a brief interpretation** of **one** of the confidence intervals for the unknown proportion using `sehat_big` in terms of concepts from class. In particular, what does this interval tell you about the true value of this proportion, and what does it not? It doesn't matter which of the intervals you choose.

# Q7

**Using the data in `abq_truepar`**

- **calculate** the true proportion of cases in the original data where `not_masked` is true, and call this `ptrue`. **Unlike other hw Qs, you can just enter the numbers from the abq_truepar dataset viewed on github**. You don't need to load the data if you don't want to.
- **calculate** the proportion of times `ptrue` lies within the confidence interval you calculated using `sehat_small`, meaning the proportion of times `ci_small_low <= ptrue <= ci_small_high`
- **calculate** ...`sehat_big` ...

# Q8

- **explain in words** your answer in Q7 using concepts from class
- **in particular:**
    - how does the result from Q7 compare with your answer to Q6?
    - how does the small-sample CI compare to the big-sample CI?
    - if they are different, why might they be different? If not, why not?

In [12]:
dtrue = pd.read_csv('../data/abq_truepar.csv')
dtrue

   not_masked    n
0       False  584
1        True  210